.text{
    color: white;
    margin-left: 26%;
    padding-top: 5cm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 8ch;
    
    
}

.text2{
    color: white;
    font-size: 3ch;
    margin-left: 19.69cm;
}

.p{
    color: white;
    font-size: 2ch;
}

.p1{
    
        color: white;
        font-size: 2ch;
        margin-left: 30cm;
    
}
#p2{
    margin-top: cm;
}
#p1{
    margin-top: 4cm;
}