<div class="bg-image" style="background-image: url('https://cdn.wallpapersafari.com/21/8/M7fdoJ.jpg');height: 100vh;width: 100%;">

    <div class="container">
<h2 class="text animate__delay-1s animate__slow animate__repeat-1 animate__animated animate__fadeInUp">Welcome to Library.<span style="color: rgb(235, 91, 213);">com</span> </h2>
<p class="text2">find your favourite books </p>
</div>
<div><a class="nav-link" routerLink="/signup"><p class="p1" id="p1"> Create an account/</p></a></div>
<a class="nav-link" routerLink="/login"><p class="p1" id="p2"> Login to find the book collection -></p></a>
</div>