<div class="bg-image" style="background-image: url('https://cdn.wallpapersafari.com/21/8/M7fdoJ.jpg');height: 100vh;width: 100%;">
<h2 style="color: white;">Login</h2>
    <div class="col-lg-12 row">
       
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form [formGroup]="loginForm" >
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label text-light ">Email address</label>
          <input type="text" class="form-control" formControlName="email"
          [ngClass]="{'is-invalid' :submit && f.email.errors }">
          <div *ngIf ="submit && f.email.errors">
            <div *ngIf ="f.email.errors['required']" class="text-danger"> *required</div>
            <div *ngIf ="f.email.errors['email']" class="text-danger"> Invalid mail address</div>
          </div>
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label text-light">Password</label>
          <input type="text" id="myInput" class="form-control" formControlName="password" 
          [ngClass]="{'is-invalid' :submit && f.password.errors }">
          <div *ngIf ="submit && f.password.errors">
            <div *ngIf ="f.password.errors['required']" class="text-danger"> *required </div>
            <div *ngIf ="f.password.errors['pattern']" class="text-warning"> (hint : enter a password contains atleast 8 characters having upper,lower,digits and special characters) </div>
          </div>
          
        </div>
        
        <div>
         <a  class="sign text-light" routerLinkActive="active-link" routerLink="/signup" style="text-decoration: none;">New Account ? Sign Up</a>
        </div><br>
        
        
        <button  (click)="onSubmit()"  type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
    <div class="col-lg-4"></div>

    </div>



</div>
